<div class="navbar navbar-expand-sm navbar-light navbar-surfturf">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "SurfTurf logo.jpg" %>
    <% end %>

    <div class="search-box">
      <%= form_with url: surfboards_path, method: :get, class: "d-flex" do %>
        <div class="search-form-control form-group">
        <div>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a surfboard"
          %>
        </div>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%#<i class="fa-solid fa-user"></i>%>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link modified" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
