
<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<div class="banner">
  <h1> Welcome to Surfturf</h1>
    <h3>You won't even have to leave your room to get your surfboard, just book an appointment time and we are at your door. And now, also offer stand up paddle boards.</p>
      <%= link_to "Explore Surfboard", surfboards_path, class:"btn btn-primary" %>
</div>

<!--
  <div class="display_surfboards">
    <%@surfboards.each do |surfboard|%>
    <div class="surfboard">
    <%= link_to surfboard_path(surfboard.id) do %>
      <img src="https://cdn.shopify.com/s/files/1/0280/0235/3239/products/what-top_03a2b77c-f2e4-4e47-83b7-54a7d0a28c3d_1600x.jpg?v=1648664678">
      <div class="surfboard-infos">
        <div>
          <h2><%=surfboard.brand%></h2>
          <p><%=surfboard.description%></p>
        </div>
        <h2 class="surfboard-pricing">$<%=surfboard.price%></h2>
      </div>
      <%end%>
    </div>
    <%end%>
  </div>
</div>
-->



<h2 class="mt-5" >Check out Our Surfboards</h1>

<div class="cards-container">
  <% @surfboards.each do |surfboard| %>
    <div class="cards">
      <img src="https://i.pinimg.com/564x/9a/31/bf/9a31bf514fa9c45d35889fd997b93550.jpg" alt="">
        <%= link_to surfboard.brand, surfboards_path %>
        <br>
        <%= surfboard.price %>
        <br>
        <%= surfboard.description %>
      </div>
  <% end %>
</div>
