<h1>Available surfboards</h1>
<ul>
  <% @surfboards.each do |surfboard| %>
    <li><%= surfboard.price %></li>
    <li><%= surfboard.lenght %></li>
    <li><%= surfboard.material_type %></li>
    <li><%= surfboard.brand %></li>
    <li><%= surfboard.shape %></li>
    <li><%= surfboard.address %></li>
  <% end %>
</ul>
