<div class= "container mt-4 w-25">
  <h1>Add your surfboard</h1>

  <%= simple_form_for @surfboard do |f| %>
  <div class="form-inputs">
    <%= f.input :brand,
            required: false,
            autofocus: true %>
    <%= f.input :material_type,
            required: false,
            autofocus: true %>
    <%= f.input :shape,
            required: false,
            autofocus: true %>
    <%= f.input :lenght,
            required: false,
            autofocus: true %>
    <%= f.input :address,
            required: false,
            autofocus: true %>
    <%= f.input :price,
            required: false,
            autofocus: true %>
  </div>
    <div class="form-actions d-grid gap-2 col-7 mx-auto mb-5 mt-4">
      <%= f.button :submit, "Add", class:"button"%>
    </div>
  <% end %>
</div>
